.contact textarea {
    font-size: 14px;
    width: 80%;
    min-height: 200px;
    margin: 20px 0;
    line-height: 1.6;
    border: 1px solid #323232;
}

.contact button {
    display: block;
    margin: 0 20% 0 auto;
    border: 1px solid #323232;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
}

.contact button:hover {
    color: white;
    background-color:#323232;
}
